{% extends 'base.html.twig' %}

{% block title %}Class page!{% endblock %}

{% block main %}

    <div class="container body-content span=8 offset=2">
        <div class="table-responsive">
            <table id="dataTable"  class="display" cellspacing="0" width="100%">
                <div class="well"  id="addOnBtn">
                    <button type="submit" class="btn btn-info center-block">Добавяне на клас</button>
                </div>

                <thead>
                <tr>
                    <th class="th-sm">Клас</th>
                    <th class="th-sm">Обвързан с брой ученици</th>
                    <th class="th-sm">Редактиране</th>
                    <th class="th-sm">Изтриване</th>
                </tr>
                </thead>
                <tbody>
                {% for classTable in classTables %}
                    <tr id="{{ classTable.id }}">
                        <td>{{ classTable.name }}</td>
                        <td>{{ classTable.students.count }}</td>
                        <td></td>
                        <td></td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <th class="th-sm">Клас</th>
                    <th class="th-sm">Обвързан</th>
                    <th class="th-sm">Редактиране</th>
                    <th class="th-sm">Изтриване</th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>


{% endblock %}

{% block jsCustomPage %}
    <script  type="module" src="{{ asset('/js/custom-page/page-class_table.js') }}"></script>
{% endblock %}